.list-cars {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.warning-message {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.33;
  text-align: center;
  min-width: 100%;
  color: var(--button-hover);
}

@media screen and (min-width: 1440px) {
  .list-cars {
    width: 888px;
  }
}
