.equipment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 104px;
  overflow: hidden;
  /*overflow-y: auto; */
  /*overflow-x: hidden;*/
  margin-bottom: 24px;
}

.equipment {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 12px 18px;
  mix-blend-mode: multiply;
  background-color: var(--badges);
}
