.catalog {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.label {
  display: block;
}

.filters {
  width: 360px;
}

.container-catalog-list {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

button.load-more {
  align-self: center;
  background-color: transparent;
  border: 1px solid var(--gray-ligth);
  color: var(--main);
}

button.load-more:hover,
button.load-more:focus {
  background-color: transparent;
  border: 1px solid var(--button-hover);
}
