.header {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--badges);
}

.logo-link {
  height: 24px;
  margin-right: 4px;
}

.list-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigate {
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.navigate:hover {
  color: var(--button-hover);
}

.active {
  color: var(--button);
}

@media screen and (min-width: 1440px) {
  .header {
    justify-content: flex-start;
  }

  .logo-link {
    margin-right: 450px;
  }

  .logo {
    transition: transform var(--animation);
  }

  .logo:hover {
    transform: scale(1.1);
  }
}
